<footer style="padding-block: 30px">
  <div>
    <span>Regards,</span>
    <br />
    <span>Team <%- project_public_link -%></span>
  </div>
  <div style="padding: 8px; background-color: #f8f9fa">
    <p style="margin: 0px; text-align: center; padding: 8px 0px">
      &copy; Copyright <%= (new Date()).getFullYear(); %> <%- project_public_link -%>
    </p>
  </div>
</footer>
</body>
</html>
