<!doctype html>
<html lang="en">
<head>
  <title><%= html_title %></title>
  <meta charset="UTF-8" />
  <%- await include('style'); -%>
</head>
<body class="container" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
