ENV_NAME="development"

PORT="3000"

# DB_CONNECTION_URL="mongodb://127.0.0.1:27017"
# DB_CONNECTION_URL="mongodb://localhost:27017"
DB_CONNECTION_URL="mongodb://host.docker.internal:27017"
DB_NAME="app_main_db"

APP_PUBLIC_URL="http://localhost:5000"

MAIN_SERVER_URL="http://localhost:3000/api/v1"

MEDIA_UPLOAD_DIRECTORY="/app/uploads"

APP_FROM_EMAIL_ADDRESS="BackendServerDemoEmail@BackendServerDemo.com"
