<main style="padding-block: 30px; word-wrap: break-word">
  <div class="main-title">You have requested a Live Pours CSV file.</div>
  <div style="padding: 8px 8px 16px 8px">
    <p>Hi,</p>
    <p style="text-align: justify">You're receiving this email because we received a Live Pours CSV file export request for <%= formatted_date %>. You can find your file in attachments.</p>
  </div>
</main>
